<%= form_with(model: @friend, local: true) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin %>
  </div>

  <div>
    <%= form.submit "Create Friend" %>
  </div>
<% end %>