<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>LinkedIn</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.linkedin %></td>
        <td>
          <%= link_to 'Show', friend %> |
          <%= link_to 'Edit', edit_friend_path(friend) %> |
          <%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Friend", new_friend_path %>